<?xml version="1.0"?>
<model>
  <name>x500_cabo</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Jose Nilson SIlva Rocha</name>
    <email>nilson101704@gmail.com</email>
  </author>
  <description>
    Modelo do x500 com o cabo anexado para simulação de drone tethered.
  </description>
</model>